
body {
    background-color: #EED3D9;
}

.h1-box {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #F5E8DD;
    border-radius: 10px;
    padding: 0 5px;
    width: 100%;
    margin: 0 0 50px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.h1-box h1 {
    text-align: center;
}

h1, p {
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 20px;
}

.large-container {
    display: flex;
    flex-direction: column;
    background-color: #B5C0D0;
    max-width: 1400px;
    margin:0 auto;
    padding: 0;
    border-radius: 20px 20px 0 0;
    border: 2px double #B5C0D0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
}

.weather-box {
    border-radius: 20px;
    padding: 10px;
    border: 1px double #B5C0D0;
    box-shadow: 0 0 10px rgba(35, 75, 127, 0.5);
    background-color: #F5E8DD;
}

.weather-box .current  {
    padding: 10px;
    border-radius: 20px;
    background-color: #F5E8DD;
}

.weather-box .tomorrow {
    padding: 10px;
    border-radius: 20px;
    background-color: #F5E8DD;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.row div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background-color:#F5E8DD;
}

.hidden {
    display: none;
}

.hourly {
    display: none; 
    flex-direction: row; 
    gap: 40px;
    padding: 40px;
    margin: 0 40px;
    border-radius: 20px;
    border: 1px double rgb(181, 192, 208);
    background-color: #F5E8DD;
    box-shadow: 0 0 10px rgba(35, 75, 127, 0.5);

}
.hourly:not(.hidden) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#toggle-button,
#toggle-button-hourly,
#toggle-button-daily {
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    background-color:#EED3D9;
    border: 1px solid rgb(136, 142, 151);
    cursor: pointer;
}

#toggle-button:hover,
#toggle-button-hourly:hover,
#toggle-button-daily:hover {
    background-color:  rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: #F5E8DD;
    max-width: 1400px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    border: 2px double #B5C0D0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

footer p {
    text-align: center;
}

.forecast-item {
    text-align: start;
}